In [3]:
import sqlite3

con = sqlite3.connect(':memory:')
query = """CREATE TABLE sales
            (customer VARCHAR(20), 
             product VARCHAR(40),
             amount FLOAT,
             date DATE);"""

con.execute(query)
con.commit()

# Insert a few rows of data into the table
data = [('Richard Lucas', 'Notepad', 2.50, '2014-01-02'),
		('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
		('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
		('Stephen Randolph', 'Computer', 679.40, '2014-02-20')]
statement = "INSERT INTO sales VALUES(?,?,?,?)"
con.executemany(statement, data)
con.commit()

#Query the sales table
cursor = con.execute("SELECT * from sales")
rows = cursor.fetchall()

row_counter = 0
for row in rows:
    print(row)
    row_counter +=1
print('Number of rows: {}'.format(row_counter))

cursor2 = con.execute("SELECT customer FROM sales")
rows2 = cursor2.fetchall()


for row2 in rows2:
    print(row2)

('Richard Lucas', 'Notepad', 2.5, '2014-01-02')
('Jenny Kim', 'Binder', 4.15, '2014-01-15')
('Svetlana Crow', 'Printer', 155.75, '2014-02-03')
('Stephen Randolph', 'Computer', 679.4, '2014-02-20')
Number of rows: 4
('Richard Lucas',)
('Jenny Kim',)
('Svetlana Crow',)
('Stephen Randolph',)

In [5]:

import sys
import csv 
import sqlite3

input_file ="C:/BigData/데이터 베이스 활용/supplier_data.csv"

con = sqlite3.connect("C:/BigData/데이터 베이스 활용/suppliers.db")
c = con.cursor()
create_table = """CREATE TABLE IF NOT EXISTS Suppliers
            (Supplier_Name VARCHAR(20), 
             Invoice_Number VARCHAR(20),
             Part_Number VARCHAR(20),
             Cost FLOAT,
             Purchase_Date DATE);"""
con.execute(create_table)
con.commit()


file_reader = csv.reader(open(input_file,'r'), delimiter=',')
header = next(file_reader, None)
for row in file_reader :
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    c.execute("INSERT INTO Suppliers VALUES(?,?,?,?,?);", data)
con.commit()
    
    
output = c.execute("SELECT * FROM Suppliers")
rows = output.fetchall()
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Z', '920-4803', '3321', '$615.00', '2/3/14']
['Supplier Z', '920-4804', '3321', '$615.00', '2/10/14']
['Supplier Z', '920-4805', '3321', '$615.00', '2/17/14']
['Supplier Z', '920-4806', '3321', '$615.00', '2/24/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Z', '920-4803', '3321', '$615.00', '2/3/14']
['Supplier Z', '920-4804', '3321', '$615.00', '2/10/14']
['Supplier Z', '920-4805', '3321', '$615.00', '2/17/14']
['Supplier Z', '920-4806', '3321', '$615.00', '2/24/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Z', '920-4803', '3321', '$615.00', '2/3/14']
['Supplier Z', '920-4804', '3321', '$615.00', '2/10/14']
['Supplier Z', '920-4805', '3321', '$615.00', '2/17/14']
['Supplier Z', '920-4806', '3321', '$615.00', '2/24/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Z', '920-4803', '3321', '$615.00', '2/3/14']
['Supplier Z', '920-4804', '3321', '$615.00', '2/10/14']
['Supplier Z', '920-4805', '3321', '$615.00', '2/17/14']
['Supplier Z', '920-4806', '3321', '$615.00', '2/24/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Z', '920-4803', '3321', '$615.00', '2/3/14']
['Supplier Z', '920-4804', '3321', '$615.00', '2/10/14']
['Supplier Z', '920-4805', '3321', '$615.00', '2/17/14']
['Supplier Z', '920-4806', '3321', '$615.00', '2/24/14']

In [8]:
import sys
import csv 
import sqlite3

input_file ="C:/BigData/데이터 베이스 활용/data_for_updating.csv"

#Create an in-memory Splite3 database
#Create atable called sales with four attributes
con = sqlite3.connect(':memory:')
c = con.cursor()
query = """CREATE TABLE sales
            (customer VARCHAR(20), 
             product VARCHAR(40),
             amount FLOAT,
             date DATE);"""
con.execute(query)
con.commit()

#table 삽입
data = [('Richard Lucas', 'Notepad', 2.50, '2014-01-02'),
		('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
		('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
		('Stephen Randolph', 'Computer', 679.40, '2014-02-20')]
for tuple in data:
    print(tuple)
statement = "INSERT INTO sales VALUES(?,?,?,?)"
con.executemany(statement,data)
con.commit()


file_reader = csv.reader(open(input_file,'r'), delimiter=',')
header = next(file_reader, None)
for row in file_reader :
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    c.execute("UPDATE sales SET amount=?, data = ? WHERE customer =?;", data)
con.commit()
    
    
output = c.execute("SELECT * FROM sales")
rows = output.fetchall()
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

('Richard Lucas', 'Notepad', 2.5, '2014-01-02')
('Jenny Kim', 'Binder', 4.15, '2014-01-15')
('Svetlana Crow', 'Printer', 155.75, '2014-02-03')
('Stephen Randolph', 'Computer', 679.4, '2014-02-20')
['4.25', '5/11/2014', 'Richard Lucas']

OperationalError: no such column: data

In [10]:

import csv
import sqlite3
import sys

#path to and name of a csv input file
#input_file = sys.argv[1]
input_file = "C:/BigData/데이터 베이스 활용/data_for_updating.csv"

#create an in-memory sqlite3 database
#create a table called sales with four attributes
con = sqlite3.connect(':memory:')
query = """create table if not exists sales
            (customer varchar(20),
             product varchar(40),
             amount float,
             date date);"""
con.execute(query)
con.commit()

#insert a few rows of data into the table
data = [('Richard Lucas', 'Notepad', 2.50, '2014-01-02'),
        ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
        ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
        ('Stephen Randolph', 'Computer', 679.40, '2014-02-20')]
for tuple in data:
    print(tuple)
statement = "insert into sales values(?,?,?,?)"
con.executemany(statement, data)
con.commit()

#Read the CSV file and update the specific rows
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader,None)
for row in file_reader:
    data=[]
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    con.execute("update sales set amount=?, date=? where customer=?;", data)
con.commit()

#query the sales table
cursor = con.execute("select * from sales")
rows = cursor.fetchall()
for row in rows:
    output=[]
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

('Richard Lucas', 'Notepad', 2.5, '2014-01-02')
('Jenny Kim', 'Binder', 4.15, '2014-01-15')
('Svetlana Crow', 'Printer', 155.75, '2014-02-03')
('Stephen Randolph', 'Computer', 679.4, '2014-02-20')
['4.25', '5/11/2014', 'Richard Lucas']
['6.75', '5/12/2014', 'Jenny Kim']
['Richard Lucas', 'Notepad', '4.25', '5/11/2014']
['Jenny Kim', 'Binder', '6.75', '5/12/2014']
['Svetlana Crow', 'Printer', '155.75', '2014-02-03']
['Stephen Randolph', 'Computer', '679.4', '2014-02-20']